* {
   box-sizing: border-box;
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: #4d4d4d;
   margin: 0;
}

h1,
h2,
p {
   text-align: center;
}

h1 {
   font-size: 10em;
   margin: 1em 0 0;

   background: linear-gradient(#043f66, #1ce0d3);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   border-bottom: 2px solid #4d4d4d;
}

h2 {
   font-size: 2.5em;
   text-decoration: overline;
}

p {
   max-width: 600px;
   font-size: 1.5em;
   font-weight: 600;
   margin: 4em auto;
}

.container {
   height: 100vh;
}