* {
   box-sizing: border-box;
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0;
   height: 100vh;
   background: linear-gradient(#39008d, #4e66ff);
   color: snow;
}

h1,
h2,
p {
   text-align: center;
}

h1 {
   font-size: 4em;
   margin: 3em 0 0;
}

h2 {
   font-size: 2.5em;
   text-decoration: overline;
}

p {
   max-width: 700px;
   font-size: 1.5em;
   margin: 4em auto;
}

/* YOUR CODE HERE */
/* The color of the text also needs to change */