@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Press+Start+2P&display=swap');

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: linen;
    font-family: sans-serif;
}

body {
    font-size: 100%;
}

main {
    overflow-x: clip;
}

section {
    position: relative;
    height: 100vh;
    background: #0F0F0F;
    background-size: 200%;
}

.sticky-container {
    display: flex;
    flex-direction: column;
}

.to-pond {
    position: sticky;
    top: 0;
    height: 25px;
    width: 100vw;
    background: linear-gradient(#0f0f0f, #117711);
    z-index: 999;
    box-shadow: 0px 2px 0 0 #0f0f0f;

    display: flex;
    align-items: center;
    justify-content: center;
}

#navtab {
    font-family: "Press Start 2P";
}

span {
    font-size: 0.75em;
    font-style: italic;
    color: #439943;
}

#splash {
    background: linear-gradient(midnightblue, #0F0F0F 35% 100%);
}

.star {
    height: 5px;
    width: 5px;
    background: white;
    position: absolute;
    animation: 5s ease-in-out alternate infinite pulse;
}

@keyframes pulse {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.star1 {
    top: 15px;
    left: 40px;
    animation-delay: 1s;
}
.star2 {
    top: 70px;
    left: 70px;
    animation-direction: alternate-reverse;
    animation-delay: .2s;
}
.star3 {
    top: 55px;
    left: 150px;
    animation-delay: .5s;
}
.star4 {
    top: 25px;
    left: 200px;
    animation-direction: alternate-reverse;
    animation-delay: .7s;
}
.star5 {
    top: 100px;
    left: 220px;
    animation-direction: alternate-reverse;
    animation-delay: .4s;
}
.star6 {
    top: 60px;
    left: 280px;
    animation-delay: .3s;
}
.star7 {
    display: none;
    animation-direction: alternate-reverse;
    animation-delay: .8s;
}
.star8 {
    display: none;
    animation-direction: alternate-reverse;
}
.stars {
    position: absolute;
}

.moon {
    position: absolute;
    transform: scale(75%);
    border-radius: 100%;
}
.moon1 {
    right: 10%;
    height: 100px;
    width: 100px;
    box-shadow: 2rem 1rem 0 0 #efffef;
}
.moon2 {
    height: 100px;
    width: 100px;
    top: 2%;
    right: 8%;
    box-shadow: 2rem 1rem 0 0 #efffef;
}

.frog {
    position: absolute;
    background: linear-gradient(182deg, rgba(34,170,68, .8) 0%, rgba(10,70,30,.8) 3%, rgba(15,15,15,1) 5%);
}
.frog-head {
    bottom: -25%;
    left: -25%;
    
    width: 150vw;
    height: 100vh;
    
    border-radius: 15%;
}
.eye {
    top: -8%;
    width: 26%;
    height: 25%;
    border-radius: 40%;
}
.left-eye {
    left: 20%;
}
.right-eye {
    right: 20%;
}

.croak {
    position: absolute;
    font-size: 3em;
    font-family: "Gaegu";
    opacity: 0;
    animation: 2s ease-in-out alternate-reverse infinite pulse;
}
.croak1 {
    top: 10%;
    left: 10%;
    transform: rotate(-15deg);
    animation-delay: .2s;
}
.croak2 {
    top: 35%;
    right: 20%;
    transform: rotate(20deg);
    animation-delay: 1s;
}
.croak3 {
    top: 70%;
    left: 10%;
    transform: rotate(-21deg);
    animation-delay: .5s;
}
.croak4 {
    font-size: 1em;
    top: 60%;
    right: 10%;
    transform: rotate(13deg);
    animation-delay: 1.3s;
}

.tree {
    position: absolute;
    width: 100px;
    height: 100px;
    background: linear-gradient(232deg, #AAFFAA 25%, #117711 30%, #023302 45%);
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    transform-origin: bottom center;
    animation: 5s ease-in-out alternate infinite swaying;
}
.one {
    bottom: 50%;
    left: -3%;
    animation-delay: 1s;
}
.two {
    bottom: 53%;
    left: 7%;
    animation-delay: .5s;
}
.three {
    bottom: 50%;
    left: 13%;
    animation-delay: 1.5s;
}
.four {
    bottom: 55%;
    left: 30%;
}
.six {
    height: 125px;
    bottom: 56%;
    left: 40%;
    animation-delay: 1s;
}
.five {
    width: 125px;
    height: 125px;
    bottom: 55%;
    left: 70%;
    animation-delay: .5s;
}

.pond {
    position: absolute;
    bottom: 0;
    left: -150%;
    
    width: 500vw;
    height: 130vw;
    border-radius: 100%;
    background: linear-gradient(#110130 0%, #008EE6 100%);
    box-shadow: 0 0 2px 2px rgba(10,70,30, .8);
}

.lilypad {
    position: absolute;
    /* border: 2px solid red; */
    border-radius: 100%;
    background:rgba(10,100,30, 1);
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2),
        inset -3px 3px 1px rgba(255, 255, 255, 0.3);
    border: 2px solid darkgreen;
    animation: 2s ease-in-out alternate infinite bobbing;
}

.main-links {
    position: absolute;
    font-family: "Press Start 2P";
    animation: 2s ease-in-out 1s alternate infinite bobbing;
    z-index: 100;
}
#about {
    font-size: 2em;
    bottom: 46%;
    left: 2%;
    text-shadow: 3px 3px 1px black;
}
#community {
    font-size: 1em;
    text-align: right;
    width: 25%;
    bottom: 53%;
    right: 15%;
    text-shadow: 2px 2px 1px black;
}
#join {
    font-size: 3.5em;
    bottom: 17%;
    left: 5%;
    text-shadow: 5px 5px 1px black;
}
#buy {
    font-size: 2.5em;
    bottom: 38%;
    right: 2%;
    text-shadow: 5px 5px 1px black;
}

.lpTL {
    height: 8%;
    width: 60%;
    top: 50%;
    left: -10%;
    animation-delay: .5s;

}
.lpTR {
    height: 4%;
    width: 30%;
    top: 45%;
    right: 2%;
    animation-delay: .75s;
}
.lpBR {
    height: 8%;
    width: 50%;
    top: 57%;
    right: -13%;
    animation-delay: .25s;
}
.lpBL {
    height: 18%;
    width: 100%;
    bottom: 12%;
    left: -20%;
}

.grass {
    position: absolute;
    bottom: 0;
    height: 20%;
    left: calc(50% - 410px);
}

@keyframes bobbing {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(0, -10%);
    }
}

@keyframes swaying {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(2deg);
    }
}

.text-header {
    font-size: 1.2em;
    font-family: "Press Start 2P";
    text-shadow: 0px 0px 1px black;
    color: #55BA55;
    margin-bottom: .25em;
}

.text-header:first-of-type{
    margin-top: .5em;
}

.about-p {
    font-size: .9em;
    margin-bottom: 1em;
    background-color: #0f0f0f;
    padding: 5px;
    border-radius: 5px;
}

#about-sec {
    background: linear-gradient( #55BA55, #0f0f0f);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;;
    padding: 0 1em;
}

#about-sec .text-header {
    background-color: black;
    padding: 5px;
}

#buy-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

h1 {
    font-size: 4.5em;
    font-family: "Press Start 2P";
    text-align: center;
    transform: rotate(-7deg);
}

.buttongreen {
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(34,170,68, .8) 0 2px 4px 0;
  box-sizing: border-box;
  color: #efffef;
  font-family: monospace;
  text-align: center;
}

.buybutton {
    padding: 10px 25px;
    width: 75%;
    height: 30%;
    font-size: 3em;
    margin-top: 2em;
    transition: 1s; 
}

.buybutton:hover {
    background: transparent;
}

.buytext {
    padding: 0 2em;
    font-size: 1em;
}

#nope {
    position: absolute;
    top: 52%;
    width: 150vw;
    height: 20vh;
    border: 5px dashed white;
    text-align: center;
    font-family: "Press Start 2P";
    transform: rotate(10deg);
    font-size: 1em;
    transition: .5s;
    animation: 2s ease-in-out alternate infinite swaying;
}
#nope:hover {
    font-size: 5em;
}

#signup-sec {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#0f0f0f 70%, #55BA55);
    border-bottom: 3px solid #228822;
}

#signup-sec .text-header, #community-sec .text-header {
    font-size: 2em;
    padding: 0 1em;
    text-align: center;
}

fieldset {
    width: 80%;
    height: 80%;
    background: linear-gradient(#337733, #055505);
    border-radius: 25px;
    box-shadow: 5px 5px 2px 0 rgba(160, 220, 160, 1);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.signup-blurb {
    font-size: 1.4em;
    font-family: "Press Start 2P";
    text-align: center;
}

.email-input {
    height: 3em;
    width: 80%;
    color: #0f0f0f;
}

.formbutton {
    font-size: 1.8em;
    width: 80%;
    height: 10%;
}

#community-sec {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#community-sec .text-header {
    padding: 2em 1em 0;
}

#community-sec span {
    display: block;
    padding: 2em;
}

.sns-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 1em;
    gap: 3em;
}

.fa {
    padding: 30px;
    border-radius: 100%;
    width: 75px;
    color: white;
    background:#bb0000;
    transform: scale(1.5);
    margin: 15px;
  }
  .fa-facebook {
    background: #3B5998;
  }
  .fa-twitter {
    background: #55ACEE;
  }
  .fa-google {
    background: #dd4b39;
  }
  .fa-instagram {
    background: #007bb5;
  }
  .fa-reddit {
    background: #ff5700;
  }

@media screen and (min-width: 1060px) {

    .star1 {
        top: 50px;
        left: 50px;
    }
    .star2 {
        top: 100px;
        left: 160px;
    }
    .star3 {
        top: 30px;
        left: 260px;
    }
    .star4 {
        top: 60px;
        left: 460px;
    }
    .star5 {
        top: 100px;
        left: 800px;
    }
    .star6 {
        top: 25px;
        left: 690px;
    }
    .star7 {
        display: block;
        top: 35px;
        left: 1200px;
    }
    .star8 {
        display: block;
        top: 60px;
        left: 950px;
    }

    .moon {
        right: 5%;
    }

    .croak {
        font-size: 4em;
    }
    .croak3 {
        left: 40%;
    }
    .croak4 {
        font-size: 1.5em;
    }

    .moon2 {
        height: 150px;
        width: 150px;
        top: 0%;
        right: 5%;
        box-shadow: 3rem 2rem 0 0 #efffef;
    }

    .frog-head {
        border-radius: 35%;
    }
    .frog {
        background: linear-gradient(181deg, rgba(34,170,68, .8) 0%, rgba(10,70,30, .8) 5%, rgba(15,15,15,1) 8%);
    }
    .eye {
        top: -15%;
        width: 15%;
        height: 50%;
    }
    .left-eye {
        left: 27%;
    }
    .right-eye {
        right: 27%;
    }

    .tree {
        width: 230px;
        height: 230px;
    }
    .one {
        bottom: 60%;
        left: -3%;
    }
    .two {
        bottom: 55%;
        left: 7%;
    }
    .three {
        bottom: 60%;
        left: 13%;
    }
    .four {
        bottom: 65%;
        left: 30%;
    }
    .five {
        bottom: 68%;
        left: 40%;
    }
    .six {
        bottom: 67%;
        left: 40%;
    }
    .five {
        bottom: 64%;
        left: 70%;
    }

    .pond {
        left: -25%;
        height: 70vh;
        width: 150vw;
    }

    .lpTL {
        height: 10%;
        width: 25%;
        top: 40%;
        left: 8%;
    }
    .lpTR {
        height: 10%;
        width: 30%;
        top: 35%;
        right: 25%;
    }
    .lpBR {
        height: 15%;
        width: 50%;
        top: 50%;
        right: -13%;
    }
    .lpBL {
        height: 20%;
        width: 80%;
        bottom: 15%;
        left: -20%;
    }

    .grass {
        left: 0;
        width: 100%;
        height: 40%;
    }
    
    #about {
        font-size: 3.5em;
        bottom: 55%;
        left: 12%;
        text-shadow: 3px 3px 1px black;
    }

    #community {
        font-size: 2.5em;
        text-align: right;
        width: 25%;
        bottom: 62%;
        right: 28%;
        text-shadow: 2px 2px 1px black;
    }
    
    #join {
        font-size: 6em;
        bottom: 27%;
        left: 13%;
        text-shadow: 5px 5px 1px black;
    }
    
    #buy {
        font-size: 5em;
        bottom: 42%;
        right: 8%;
        text-shadow: 5px 5px 1px black;
    }
    
    #nope {
        animation: none;
    }

    #about-sec {
        padding-top: 3em;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: .5em;
    }

    #about-sec div {
        width: 30%;
    }

    .text-header {
        font-size: 2.25em;
    }

    .about-p {
        font-size: 1.5em;
    }

    fieldset {
        width: 60%;
    }

    .sns-box {
        gap: 5em; 
    }

    .to-pond {
        height: 50px;
    }
}