* {
   box-sizing: border-box;
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0;
   height: 100vh;
   background: repeating-linear-gradient(to bottom left, #3498DB, #2C3E50 3%);
   color: snow;
}

h1,
h2,
p {
   text-align: center;
}

h1 {
   font-size: 4em;
   margin: 3em 0 0;
}

h2 {
   font-size: 2.5em;
   text-decoration: overline;
}

p {
   max-width: 600px;
   font-size: 1.5em;
   font-weight: 600;
   margin: 4em auto;
}

/* YOUR CODE HERE */